@import "./variables";
@import "./kit-icons/flaticon.scss";

body {
  font-family: "Open Sans", sans-serif;
}

.text-muted {
  color: rgb(192, 192, 192) !important;
}

@mixin dark-body {
  @include dark;

  background-color: rgb(32, 32, 32);
  color: white;
}

@mixin dark {
  .card:not(.card-light) {
    background-color: transparentize(white, 0.875);
    border-color: transparentize(white, 0.75);
  }

  .text-muted {
    color: rgb(144, 144, 144) !important;
  }

  hr {
    border-color: transparentize(white, 0.75);
  }

  .kit-wrapper {
    .kit {
      background-color: rgb(32, 32, 32);

      > label {
        color: white;
      }

      &[data-active="true"] {
        background-color: rgba(32, 32, 32, 0.25);

        > label {
          color: white;
        }
      }
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h1 small {
  text-transform: uppercase;
  font-weight: light;
  font-size: 18px;
  color: rgb(192, 192, 192)!important;
}

h2 {
  margin-bottom: 16px;
}

// Cards
.card-light {
  background-color: white;
  color: black;
  border-color: rgb(192, 192, 192);
}

.card-dark {
  background-color: #3c3c3c;
  color: white;
  border-color: #6d6d6d;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 600;
}

// Kits
$kit-size: 192px;
$kit-border-size: 4px;
$kit-padding: 12px;

.kit-wrapper {
  width: $kit-size;
  height: $kit-size;
  padding: $kit-border-size;
  position: relative;
}

.kit {
  position: absolute;
  left: $kit-border-size;
  top: $kit-border-size;
  width: calc(100% - #{$kit-border-size * 2});
  height: calc(100% - #{$kit-border-size * 2});
  background-color: white;
  padding: $kit-padding;

  > .kit-icon {
    position: absolute;
    left: $kit-padding;
    top: $kit-padding;
    width: 32px;
    height: 32px;
    font-size: 27px;

    > .fi::before {
      background-clip: text;
      -webkit-background-clip: text;
      background-color: black;
      color: transparent;
    }
  }

  > label {
    position: absolute;
    width: calc(100% - #{$kit-padding});
    left: $kit-padding;
    bottom: $kit-padding;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    margin-bottom: -4px;
    font-weight: bold;
    font-size: 18px;
  }
}

.kit-wrapper {
  // ServerKit
  &[data-kit="server-kit"] {
    background: linear-gradient(45deg, #{$server-kit-color1}, #{$server-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -9px;
        background-color: $server-kit-color1;
      }
    }
  }

  // RenderKit
  &[data-kit="render-kit"] {
    background: linear-gradient(45deg, #{$render-kit-color1}, #{$render-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -7px;
        background-color: $render-kit-color1;
      }
    }
  }

  // SerializationKit
  &[data-kit="serialization-kit"] {
    background: linear-gradient(45deg, #{$serialization-kit-color1}, #{$serialization-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -9px;
        background-color: $serialization-kit-color1;
        font-size: 24px;
      }
    }
  }

  // DeltaKit
  &[data-kit="delta-kit"] {
    background: linear-gradient(45deg, #{$delta-kit-color1}, #{$delta-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -9px;
        background-color: $delta-kit-color1;
      }
    }
  }

  // ConversionKit
  &[data-kit="conversion-kit"] {
    background: linear-gradient(45deg, #{$conversion-kit-color1}, #{$conversion-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -6px;
        background-color: $conversion-kit-color1;
      }
    }
  }

  // AWSKit
  &[data-kit="aws-kit"] {
    background: linear-gradient(45deg, #{$aws-kit-color1}, #{$aws-kit-color2});

    .kit-icon {
      > .fi::before {
        position: relative;
        top: -9px;
        background-color: $aws-kit-color1;
      }
    }
  }
}

.kit[data-active="true"] {
  background-color: rgba(255, 255, 255, 0.25);
  color: white !important;

  .kit-icon > .fi::before {
    background-color: white !important;
  }
}

$kit-inner-size: $kit-size - (2 * $kit-border-size);

a.kit-wrapper {
  color: black;

  > .kit {
    transition: clip-path 0.2s, -webkit-clip-path 0.2s;
  }

  > .kit[data-active="false"] {
    clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
    -webkit-clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
  }

  > .kit[data-active="true"] {
    clip-path: polygon(0px #{$kit-inner-size}, #{$kit-inner-size} #{$kit-inner-size}, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
    -webkit-clip-path: polygon(0px #{$kit-inner-size}, #{$kit-inner-size} #{$kit-inner-size}, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
  }

  &:hover {
    > .kit[data-active="false"] {
      clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} 0px, 0px 0px);
      -webkit-clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} 0px, 0px 0px);
    }

    > .kit[data-active="true"] {
      clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
      -webkit-clip-path: polygon(0px 0px, #{$kit-inner-size} 0px, #{$kit-inner-size} #{$kit-inner-size}, 0px #{$kit-inner-size});
    }
  }
}
