@charset "UTF-8";
/*
  Flaticon icon font: Flaticon
  Creation date: 15/07/2019 02:54
*/
@font-face {
  font-family: "Flaticon";
  src: url("./kit-icons/Flaticon.eot");
  src: url("./kit-icons/Flaticon.eot?#iefix") format("embedded-opentype"), url("./kit-icons/Flaticon.woff2") format("woff2"), url("./kit-icons/Flaticon.woff") format("woff"), url("./kit-icons/Flaticon.ttf") format("truetype"), url("./kit-icons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-server-kit:before {
  content: ""; }

.flaticon-conversion-kit:before {
  content: ""; }

.flaticon-render-kit:before {
  content: ""; }

.flaticon-serialization-kit:before {
  content: ""; }

.flaticon-aws-kit:before {
  content: ""; }

.flaticon-delta-kit:before {
  content: ""; }

body {
  font-family: "Open Sans", sans-serif; }

.text-muted {
  color: silver !important; }

h1 {
  font-weight: bold;
  font-size: 36px; }

h1 small {
  text-transform: uppercase;
  font-weight: light;
  font-size: 18px;
  color: silver !important; }

h2 {
  margin-bottom: 16px; }

.card-light {
  background-color: white;
  color: black;
  border-color: silver; }

.card-dark {
  background-color: #3c3c3c;
  color: white;
  border-color: #6d6d6d; }

.card-subtitle {
  font-size: 14px;
  font-weight: 600; }

.kit-wrapper {
  width: 192px;
  height: 192px;
  padding: 4px;
  position: relative; }

.kit {
  position: absolute;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: white;
  padding: 12px; }
  .kit > .kit-icon {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 32px;
    height: 32px;
    font-size: 27px; }
    .kit > .kit-icon > .fi::before {
      background-clip: text;
      -webkit-background-clip: text;
      background-color: black;
      color: transparent; }
  .kit > label {
    position: absolute;
    width: calc(100% - 12px);
    left: 12px;
    bottom: 12px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    margin-bottom: -4px;
    font-weight: bold;
    font-size: 18px; }

.kit-wrapper[data-kit="server-kit"] {
  background: linear-gradient(45deg, #dd3790, #d517b5); }
  .kit-wrapper[data-kit="server-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -9px;
    background-color: #dd3790; }

.kit-wrapper[data-kit="render-kit"] {
  background: linear-gradient(45deg, #519ed4, #3cb7ff); }
  .kit-wrapper[data-kit="render-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -7px;
    background-color: #519ed4; }

.kit-wrapper[data-kit="serialization-kit"] {
  background: linear-gradient(45deg, #3b6ddd, #4b93f4); }
  .kit-wrapper[data-kit="serialization-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -9px;
    background-color: #3b6ddd;
    font-size: 24px; }

.kit-wrapper[data-kit="delta-kit"] {
  background: linear-gradient(45deg, #560ac7, #850fd7); }
  .kit-wrapper[data-kit="delta-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -9px;
    background-color: #560ac7; }

.kit-wrapper[data-kit="conversion-kit"] {
  background: linear-gradient(45deg, #17b423, #2ae101); }
  .kit-wrapper[data-kit="conversion-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -6px;
    background-color: #17b423; }

.kit-wrapper[data-kit="aws-kit"] {
  background: linear-gradient(45deg, #ec8215, #ffb500); }
  .kit-wrapper[data-kit="aws-kit"] .kit-icon > .fi::before {
    position: relative;
    top: -9px;
    background-color: #ec8215; }

.kit[data-active="true"] {
  background-color: rgba(255, 255, 255, 0.25);
  color: white !important; }
  .kit[data-active="true"] .kit-icon > .fi::before {
    background-color: white !important; }

a.kit-wrapper {
  color: black; }
  a.kit-wrapper > .kit {
    transition: clip-path 0.2s, -webkit-clip-path 0.2s; }
  a.kit-wrapper > .kit[data-active="false"] {
    clip-path: polygon(0px 0px, 184px 0px, 184px 184px, 0px 184px);
    -webkit-clip-path: polygon(0px 0px, 184px 0px, 184px 184px, 0px 184px); }
  a.kit-wrapper > .kit[data-active="true"] {
    clip-path: polygon(0px 184px, 184px 184px, 184px 184px, 0px 184px);
    -webkit-clip-path: polygon(0px 184px, 184px 184px, 184px 184px, 0px 184px); }
  a.kit-wrapper:hover > .kit[data-active="false"] {
    clip-path: polygon(0px 0px, 184px 0px, 184px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 184px 0px, 184px 0px, 0px 0px); }
  a.kit-wrapper:hover > .kit[data-active="true"] {
    clip-path: polygon(0px 0px, 184px 0px, 184px 184px, 0px 184px);
    -webkit-clip-path: polygon(0px 0px, 184px 0px, 184px 184px, 0px 184px); }

main {
  margin: 32px 0px; }

body {
  transition: background-color 0.4s; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
    color: white; }
    body .card:not(.card-light) {
      background-color: rgba(255, 255, 255, 0.125);
      border-color: rgba(255, 255, 255, 0.25); }
    body .text-muted {
      color: #909090 !important; }
    body hr {
      border-color: rgba(255, 255, 255, 0.25); }
    body .kit-wrapper .kit {
      background-color: #202020; }
      body .kit-wrapper .kit > label {
        color: white; }
      body .kit-wrapper .kit[data-active="true"] {
        background-color: rgba(32, 32, 32, 0.25); }
        body .kit-wrapper .kit[data-active="true"] > label {
          color: white; } }

.color-preview > .color-preview-default {
  padding-top: 100%;
  background-color: gray;
  border-radius: 4px; }

.color-preview[data-color='primary'] > .color-preview-default {
  background-color: #e70a84; }

.color-preview[data-color='secondary'] > .color-preview-default {
  background-color: #2fdbe3; }

.color-preview[data-color='tertiary'] > .color-preview-default {
  background-color: #1792f4; }

.color-preview[data-color='quaternary'] > .color-preview-default {
  background-color: #777eff; }

.font-preview {
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 44px;
  font-weight: bold; }

.font-example-annotation {
  color: silver;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600; }

.logos-container > .logos-container-light, .logos-container > .logos-container-dark {
  display: inline-block;
  width: 50%;
  float: left; }

.logos-container > .logos-container-light {
  background-color: #e0e0e0;
  color: #404040; }

.logos-container > .logos-container-dark {
  background-color: #404040;
  color: #e0e0e0; }
  .logos-container > .logos-container-dark .card:not(.card-light) {
    background-color: rgba(255, 255, 255, 0.125);
    border-color: rgba(255, 255, 255, 0.25); }
  .logos-container > .logos-container-dark .text-muted {
    color: #909090 !important; }
  .logos-container > .logos-container-dark hr {
    border-color: rgba(255, 255, 255, 0.25); }
  .logos-container > .logos-container-dark .kit-wrapper .kit {
    background-color: #202020; }
    .logos-container > .logos-container-dark .kit-wrapper .kit > label {
      color: white; }
    .logos-container > .logos-container-dark .kit-wrapper .kit[data-active="true"] {
      background-color: rgba(32, 32, 32, 0.25); }
      .logos-container > .logos-container-dark .kit-wrapper .kit[data-active="true"] > label {
        color: white; }

.logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 192px;
  margin: 0px auto; }

.kits-container {
  margin-bottom: -12px; }
  .kits-container > .kit-wrapper {
    float: left;
    display: inline-block;
    margin-bottom: 12px; }
    .kits-container > .kit-wrapper:not(:last-child) {
      margin-right: 12px; }

.credit-section {
  color: silver; }
  .credit-section a, .credit-section a:focus {
    color: gray; }
  .credit-section a:hover {
    color: #747474; }
  .credit-section a:active {
    color: #404040; }

.credit-logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 152px;
  max-height: 96px;
  margin: 0px auto; }
