@import "./brand";

main {
  margin: 32px 0px;
}

// Dark theme
body {
  transition: background-color 0.4s;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-body;
  }
}

// Colors
.color-preview {
  > .color-preview-default {
    padding-top: 100%;
    background-color: rgb(128, 128, 128);
    border-radius: 4px;
  }

  &[data-color='primary'] > .color-preview-default {
    background-color: $primary-color;
  }

  &[data-color='secondary'] > .color-preview-default {
    background-color: $secondary-color;
  }

  &[data-color='tertiary'] > .color-preview-default {
    background-color: $tertiary-color;
  }

  &[data-color='quaternary'] > .color-preview-default {
    background-color: $quaternary-color;
  }
}

// Fonts
.font-preview {
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 44px;
  font-weight: bold;
}

.font-example-annotation {
  color: rgb(192, 192, 192);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

// Logos
.logos-container {
  > .logos-container-light, > .logos-container-dark {
    display: inline-block;
    width: 50%;
    float: left;
  }

  > .logos-container-light {
    background-color: rgb(224, 224, 224);
    color: rgb(64, 64, 64);
  }

  > .logos-container-dark {
    @include dark;

    background-color: rgb(64, 64, 64);
    color: rgb(224, 224, 224);
  }
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 192px;
  margin: 0px auto;
}

// Kits
.kits-container {
  > .kit-wrapper {
    float: left;
    display: inline-block;
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  margin-bottom: -12px;
}

// Credit
.credit-section {
  color: rgb(192, 192, 192);

  a {
    &, &:focus {
      color: rgb(128, 128, 128);
    }

    &:hover {
      color: rgb(116, 116, 116);
    }

    &:active {
      color: rgb(64, 64, 64);
    }
  }
}

.credit-logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 152px;
  max-height: 96px;
  margin: 0px auto;
}