// Colors
$primary-color: #e70a84;
$secondary-color: #2fdbe3;
$tertiary-color: #1792f4;
$quaternary-color: #777eff;

// Kits
$server-kit-color1: #dd3790;
$server-kit-color2: #d517b5;

$render-kit-color1: #519ed4;
$render-kit-color2: #3cb7ff;

$serialization-kit-color1: #3b6ddd;
$serialization-kit-color2: #4b93f4;

$delta-kit-color1: #560ac7;
$delta-kit-color2: #850fd7;

$conversion-kit-color1: #17b423;
$conversion-kit-color2: #2ae101;

$aws-kit-color1: #ec8215;
$aws-kit-color2: #ffb500;