/*
  Flaticon icon font: Flaticon
  Creation date: 15/07/2019 02:54
*/

@font-face {
  font-family: "Flaticon";
  src: url("./kit-icons/Flaticon.eot");
  src: url("./kit-icons/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./kit-icons/Flaticon.woff2") format("woff2"),
       url("./kit-icons/Flaticon.woff") format("woff"),
       url("./kit-icons/Flaticon.ttf") format("truetype"),
       url("./kit-icons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

$font-flaticon-server-kit: "\f100";
$font-flaticon-conversion-kit: "\f101";
$font-flaticon-render-kit: "\f103";
$font-flaticon-serialization-kit: "\f104";
$font-flaticon-aws-kit: "\f106";
$font-flaticon-delta-kit: "\f107";

.flaticon-server-kit:before { content: $font-flaticon-server-kit; }
.flaticon-conversion-kit:before { content: $font-flaticon-conversion-kit; }
.flaticon-render-kit:before { content: $font-flaticon-render-kit; }
.flaticon-serialization-kit:before { content: $font-flaticon-serialization-kit; }
.flaticon-aws-kit:before { content: $font-flaticon-aws-kit; }
.flaticon-delta-kit:before { content: $font-flaticon-delta-kit; }
